Fabric==1.6.0
Flask==0.7.1
Flask-Cache==0.3.3
Flask-Script==0.3.1
Jinja2==2.5.5
Werkzeug==0.6.2
argparse==1.2.1
distribute==0.6.31
gunicorn==0.17.4
paramiko==1.10.1
pycrypto==2.6
python-otter==0.1.0
redi==0.0.8b
redis==2.7.4
requests==2.20.0
wsgiref==0.1.2
