<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8" />
    <title>Reflog Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="static/stylesheets/base.css">
    <link rel="stylesheet" href="static/stylesheets/skeleton.css">
    <link rel="stylesheet" href="static/stylesheets/layout.css">

    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/apple-touch-icon-114x114.png" />

</head>
<body>

    <div class="container">
        <div class="sixteen columns">
            <h1 class="remove-bottom" style="margin-top: 40px">Reflog Dashboard</h1>
            <h5>A <a href="http://kennethreitz.com/pages/open-projects.html">Kenneth Reitz</a> Project.</h5>
            <hr />
        </div>

        <div class="one-third column">
            <h3>Diurnal</h3>
            <p>The most talked about repos today:</p>

            <ul class="square">

                {% for repo in day %}

                    <li>
                        <strong><a href="{{ repo.url }}">{{ repo.user }}/{{ repo.name }}</a></strong>:
                        {{ repo.description }}
                        {{ repo.hits }}|{{ repo.watchers }}
                    </li>

                {% endfor %}

            </ul>

        </div>
        <div class="one-third column">
            <h3>Hebdomadal</h3>
            <p>Hottest repos for the past week:</p>
            <ul class="square">
                {% for repo in week %}

                    <li>
                        <strong><a href="{{ repo.url }}">{{ repo.user }}/{{ repo.name }}</a></strong>:
                        {{ repo.description }}
                        {{ repo.hits }}|{{ repo.watchers }}
                    </li>

                {% endfor %}
            </ul>
        </div>
        <div class="one-third column">
            <h3>Lunatial</h3>
            <p>The most popular repos this month:</p>
            <ul class="square">
                {% for repo in month %}

                    <li>
                        <strong><a href="{{ repo.url }}">{{ repo.user }}/{{ repo.name }}</a></strong>:
                        {{ repo.description }}
                        {{ repo.hits }}|{{ repo.watchers }}
                    </li>

                {% endfor %}
            </ul>
        </div>
    </div><!-- container -->



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='static/javascripts/jquery-1.5.1.min.js'>\x3C/script>")</script>
    <script src="static/javascripts/app.js"></script>

    <script type="text/javascript">
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4e178155f5a1f5194f000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>

</body>
</html>